[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arabicStemR"]
	path = arabicStemR
	url = https://github.com/cran/arabicStemR
[submodule "caseMatch"]
	path = caseMatch
	url = https://github.com/cran/caseMatch
